.container {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.nav {
  background: linear-gradient(248deg, rgba(246, 5, 92, 0.20) 33.26%, rgba(173, 28, 241, 0.00) 59.42%, rgba(222, 94, 117, 0.13) 63.05%), #DE5A39;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img, .logo-text {
  width: 30%; /* Ajusta el porcentaje según tus preferencias */
  max-height: 40px; /* Establece una altura máxima para la imagen si es necesario */
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.login {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.login:hover {
  background-color: #fff;
  color: #DE5A39;
}